@model IEnumerable<Entidades.Models.Turma>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form asp-controller="Turmas" asp-action="Index" method="get">
    <div class="mb-3">
        <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentFilter"]">
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </div>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vagas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Disciplina.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vagas)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TurmaID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TurmaID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TurmaID">Delete</a>

                    <a asp-action="Matricular" asp-route-id="@item.TurmaID">Solicitar Matrícula</a>
                </td>
                <td>
                    <button>Click Aqui</button>
                </td>
            </tr>
        }
    </tbody>
</table>
