@model IEnumerable<Entidades.Models.Turma>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Identity/Pages/_ViewStart.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codcred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codcred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurmaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TurmaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TurmaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
