@model Entidades.Models.ItemHistorico

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ItemHistorico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disciplina.DisciplinaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoSemestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoSemestre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemHistoricoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
