@model IEnumerable<Entidades.Models.ItemHistorico>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.AnoSemestre)*@
                Semestre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoSemestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemHistoricoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemHistoricoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemHistoricoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
